<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML Hate Speech Detection</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>


<body>
<p><b>Machine Learning</b> - Hateful Speech Detection</p>
<form action="{{ url_for('predict')}}"method="post">
  <div class="form-group">
  <label for="text" class="form-text text-muted">Text to analyze :</label>
  <textarea name="text" class="form-control"></textarea>
  </div>
  <button id="predict-button" type="submit" class="btn btn-primary"><i class="far fa-play-circle"></i> Analyze</button>
</form>

<br/>

 <br>
   <br>
   {{ prediction_text }}




<p><span id="result"></span></p>
<p><span id="proba"></span></p>
</body>

